*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    font-style: 'Poppins';
    background-color: rgb(0, 32, 68);
    color: rgb(255, 255, 255);
}

.container {
    padding-block: 100px;
    max-width: 400px;
    margin-inline: auto;
}

img{
    width: 50px;
    height: 50px;
}

.main-header {
    display: flex;
    align-items: center;
}

.new-items, .filter {
    margin-block: 20px;
}
.edit-mode {
    color: #bebebebb;
    opacity: 0.6;
}
input{
    background-color: inherit;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    width: 80%;
    padding: 5px 0;
    color: aliceblue;
    margin-block: 5px;
}

.filtered input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid aliceblue;
}

.filtered input:focus-within {
    outline: none;
}

input::placeholder {
    padding-inline: 5px;
    color: aliceblue;
}

.btn-submit, .clear-btn{
    border-radius: 5px;
    border: 1px solid aliceblue;
    padding: 5px 10px;
    margin-block: 10px;
    background-color: rgb(2, 143, 185);
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin-block: 20px;
}

li{
    margin-block: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 5px;
    border: 1px solid aliceblue;
    border-radius: 5px;
}